---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

details {
    border-radius: 4px;
    padding: .5em .5em 0;
    background-color:#FFC;
    background-blend-mode: lighten;;

}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    white-space: nowrap;
    background-color:white;

}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.post-content h4  {
    font-family: cursive;
    font-weight: bolder;
    margin-top: 0em;
}

blockquote {
    letter-spacing: 0px;
  }
  
.post-content h2 {
    margin-top: 0em;
}

.trans {
    background-color:#D9FFF9 ;
}

table {
    display: inline-table
}


.post-nav {
    /* Insert your custom styling here. Example:

       font-size: 14px;
       margin-bottom: 1em;
    */
    display: flex;
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}
.post-nav-next {
    text-align: right;
}

.post-content h3 {
    margin-top: unset;
}