---
layout: tdefault
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
<!--          {{ page.date | date: date_format }} -->
      </time>
        {{ page.athigaram-en }}
        {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <p><strong>குறள் {{ page.kuralno }}</strong></p>

    {%- for post in site.posts -%}
    {%- if post.athigaram == page.athino  -%}
    <p><strong><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong></p>
    {%- endif -%}
    {%- endfor -%}


    {%- for kl in site.data.kural -%}
    {%- if kl.no == page.kuralno -%}


    <p><strong>{{kl.kural | newline_to_br}}</strong></p>

    <p><em>{{ kl.transliteration | newline_to_br }}</em></p>

    <hr>

    <p><strong>Shuddhananda Bharati</strong></p>

    {%- for post in site.posts -%}
    {%- if post.athigaram == page.athino -%}
    <p><a href="{{ post.url | prepend: site.baseurl }}">{{kl.sbhead}}</a></p>
    {%- endif -%}
    {%- endfor -%}


    <p>{{kl.sb | newline_to_br }}</p>

    <hr>

    <p><strong>GU Pope</strong></p>

    {%- for post in site.posts -%}
    {%- if post.athigaram == page.athino -%}
    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title-en }}</a></p>
    {%- endif -%}
    {%- endfor -%}


    <p>{{ kl.pope | newline_to_br }}</p>

    <p>{{ kl.popemean | newline_to_br }}</p>

    <hr>

    <p><strong>Mu. Varadarajan</strong></p>

    <p>{{ kl.moova | newline_to_br }}</p>

    <hr>

    <p><strong>Parimelalagar</strong></p>

    <p>{{kl.pa | replace: "விளக்கம்", "<br><strong><em>  விளக்கம்: </em></strong><br>" }}</p>

    <hr>

    <p><strong>Manakkudavar</strong></p>

    <p>{{kl.mk | replace:"(இ - ள்.)","<strong><em>(இதன் பொருள்)</em></strong>" | replace:"(எ - று)","<br><strong><em>(என்றவாறு)</em></strong>"}}</p>



    {%- endif -%}
    {%- endfor -%}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {% assign my_variable1 = page.kuralno  | minus: 1 | downcase %}
  {% assign my_variable2 = page.kuralno  | plus: 1 | downcase %}
  {%- for kl in site.kural -%}
  {%- if kl.kuralno == my_variable1 -%}
  <div class="post-nav">
    <div>
      <a href="{{ kl.url | prepend: site.baseurl }}">&laquo;&nbsp;{{kl.title}}</a>
    </div>
  {%- endif -%}
  {%- endfor -%}
  {%- for kl in site.kural -%}
  {%- if kl.kuralno == my_variable2 -%}
    <div class="post-nav-next">
      <a href="{{ kl.url | prepend: site.baseurl }}">{{ kl.title }}&nbsp;&raquo;</a>
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>